.btn {
  padding: 4px 12px;
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 20px;
  color: $gray;
  transition: all 0.3s;
  &:hover {
    background: $yl;
    color: $wh;
    text-decoration: none;
    list-style-type: none;
    border-radius: 6px;
    transition: all 0.3s;
  }

  &--yl {
    // padding: 4px 12px;
    // display: block;
    border: 1px solid $wh;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 38px;
    background-color: $yl;
    transition: all 0.3s;
    &:hover {
      background: $wh;
      color: $gray;
      list-style-type: none;
      border-radius: 2px;
      transition: all 0.3s;
    }
  }
}

.btn--price {
  /*  display: block; */
  text-align: center;
  padding: 4px 12px;
  display: block;
  border: 1px solid $wh;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 38px;
  width: 131px;
  height: 42px;
  background-color: $yl;
  transition: all 0.3s;
  &:hover {
    background: $wh;
    color: $gray;
    list-style-type: none;
    border-radius: 2px;
    transition: all 0.3s;
  }
}
