.bottom__info {
  display: flex;
  justify-content: center;
  max-height: 45px;
  background-color: #709dca;
  p {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
  }
}
