.slider {
  /* display: flex; */
  position: relative;
  width: 647px;
  margin: 22px auto;
  overflow: hidden;
  padding-bottom: 20px;
  .line {
    position: relative;
    height: 343px;
    overflow: hidden;
    left: 0;
    transition: all ease 1s;
  }
  .slide {
    height: 343px;
    float: left;
  }
}
