.clients {
  background-color: $yl;
  padding-top: 100px;
  &__title {
    text-align: center;
    h2 {
      line-height: 22px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: -0.025em;
      color: #ffffff;
    }
    h3 {
      font-size: 18px;
      font-weight: 300;
      text-transform: none;
      letter-spacing: normal;
      color: #ffffff;
    }
  }

  &__blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1 auto;
    .item-1 {
      background-color: $wh;

      margin-bottom: 10px;
      flex: 0 0 49%;
      img {
        margin: 60px 5px 60px 5px;
        float: left;
      }
    }
    /*  padding: 20px 10px 20px 10px; */

    .item-2 {
      background-color: $wh;

      margin-bottom: 10px;
      flex: 0 0 49%;
      img {
        margin: 60px 5px 60px 5px;
        float: left;
      }
      /* padding: 20px 10px 20px 10px; */
    }
    .item-3 {
      background-color: $wh;

      margin-bottom: 10px;
      flex: 0 0 49%;
      img {
        margin: 60px 5px 60px 5px;
        float: left;
      }
      /* padding: 20px 10px 20px 10px; */
    }
    .item-4 {
      background-color: $wh;

      margin-bottom: 10px;
      flex: 0 0 49%;
      img {
        margin: 60px 5px 60px 5px;
        float: left;
      }
      /* padding: 20px 10px 20px 10px; */
    }

    /* img {
    float: left;
  } */
  }
}
