.price {
  display: flex;
  background-color: #e7edf3;
  height: 898px;
  @include mmax(991) {
    width: 60rem;
    margin-bottom: 50px;
    height: auto;
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .subtitle {
      font-family: $font2;
      font-size: 35px;
      line-height: 24px;
      font-weight: 900;
      color: #394b50;
      text-transform: uppercase;
      letter-spacing: -0.025em;
      padding-bottom: 10px;
      margin-top: 50px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      color: #394b50;
      text-transform: none;
      letter-spacing: normal;
    }
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    @include mmax(575) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5rem;
    }
  }
  &__box-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 33%;
    padding: 5px 20px 10px 20px;
    border: 1px solid #ccd5df;
    background-color: #ffff;

    text-align: center;
    @include mmax(575) {
      display: flex;
      width: 40rem;
      border-radius: 20%;
      margin-bottom: 2rem;
    }

    /* $__boxn {
      align-items: center;
      padding: 10px 10px 10px 10px;
    } */
  }
  &__btn {
    margin-bottom: 30px;
    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 30px;
      padding: 5px 5px;
    }
  }

  h3 {
    font-size: 25px;
    line-height: 22px;
    font-weight: 300;
    text-transform: uppercase;
    color: #818b95;
    padding: 20px 0 20px;
  }
  h4 {
    padding: 10px 0 10px;
  }
  h4 > span {
    font-size: 60px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffbb42;
  }
  h4 > p {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #818b95;
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    font-size: 13.5px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #b5bbc1;
    margin-bottom: 20px;
    border-top: 1px solid#8eb8e2;
  }

  &__box-item--blue {
    display: flex;
    flex: 0 0 34%;
    flex-direction: column;
    padding: 35px 20px 35px 20px;
    border: 1px solid #ccd5df;
    background-color: #709dca;

    text-align: center;
    @include mmax(575) {
      display: flex;
      width: 40rem;
      border-radius: 20%;
      margin-bottom: 2rem;
    }
    a {
      font-size: 14px;
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      padding: 5px 5px;
    }
    h3 {
      font-size: 25px;
      line-height: 22px;
      font-weight: 300;
      text-transform: uppercase;
      color: #ffffff;
      padding: 20px 0 20px;
    }
    h4 {
      padding: 10px 0 10px;
    }
    h4 > span {
      font-family: Lato;
      font-size: 60px;
      line-height: 22px;
      font-weight: 300;
      text-transform: uppercase;
      color: #ffffff;
    }
    h4 > p {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      color: #c2e1ff;
    }
    ul {
      padding: 0;
    }
    li {
      list-style-type: none;
      font-size: 13.5px;
      line-height: 40px;
      font-weight: 400;
      text-transform: uppercase;
      color: #c2e1ff;
      margin-bottom: 20px;
      padding: 0;
      border-top: 1px solid#8eb8e2;
    }
  }
}
