.service {
  display: flex;
  padding-top: 150px;
  padding-bottom: 100px;
  &__subtitle-black {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
    .subtitle {
      font-family: $font2;
      font-size: 35px;
      line-height: 24px;
      font-weight: 900;
      color: #394b50;
      text-transform: uppercase;
      letter-spacing: -0.025em;
      padding-bottom: 10px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      color: #394b50;
      text-transform: none;
      letter-spacing: normal;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
  }
  &__content-wrap {
    position: relative;
    display: flex;
    flex: 0 0 45%;
    justify-content: space-between;
    padding-left: 15px;
  }
  .text {
    margin-left: 70px;

    span {
      font-size: 16px;
      line-height: 22px;
      font-weight: 700;
      text-transform: uppercase;
      color: #394b50;
      font-size: 16px;
    }
  }
  .img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
